@import "tailwindcss/theme" reference;

@custom-variant dark (&:where(.dark, .dark *));

.toggle {
  @apply relative inline-flex items-center h-6 rounded-full w-11 transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
}

.toggleLight {
  @apply bg-gray-200;
}

.toggleDark {
  @apply bg-blue-600;
}

.toggleButton {
  @apply inline-block w-4 h-4 transform rounded-full bg-white transition-transform;
}

.toggleButtonLight {
  @apply translate-x-1;
}

.toggleButtonDark {
  @apply translate-x-6;
}

.icon {
  @apply w-4 h-4 text-gray-700;
}

:global(.dark) .icon {
  @apply text-gray-300;
}
